.pp-card {
    background-color: var(--bs-secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 10rem;
    width: 10rem;
    min-height: 15rem;
}

.pp-card:hover {
    color: var(--bs-secondary);
    background-color: var(--bs-primary);
    cursor: pointer;
}

.pp-card.selected {
    color: var(--bs-secondary);
    background-color: var(--bs-primary);
}