<div class="container mt-5">
  <div class="row">
    <div class="col-sm-12 col-md-9">
      <h4>SELECT CARD</h4>
      <div class="d-flex flex-nowrap flex-lg-wrap overflow-auto px-1">
        <app-card
          class="p-2"
          *ngFor="let card of hub.roomState().cardSet?.values"
          (cardClicked)="select(card)"
          [selected]="card === selectedCard"
          >{{ card }}</app-card
        >
      </div>
    </div>
    <div class="col-sm-12 col-md-3 mt-5 mt-lg-0">
      <div class="d-flex flex-row align-items-baseline">
        <h4>PARTICIPANTS</h4>
        <a (click)="copyLink()" class="btn btn-link">Invite</a>
      </div>
      <app-participant
        *ngFor="let participant of hub.roomState().participants"
        [value]="participant"
      ></app-participant>
      <div class="d-flex flex-column my-5">
        <button type="button" class="btn btn-primary" (click)="reveal()" [disabled]="hub.roomState().roomStateName == '1'">
          Reveal
        </button>
        <button type="button" class="btn btn-secondary" (click)="reset()">
          Reset
        </button>
      </div>
    </div>
  </div>
</div>
