// Variables
// --------------------------------------------------
$primary: #000;
$secondary: #fff;
$accent: #9747FF;
$lines: #DCDCDC;
$background-light: #fff;
$background-dark: #000;

$font-family: League Spartan, sans-serif;