@import '../../scss/variables';

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.logo-simple {
  color: $accent;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  vertical-align: super;
}

.logo-planning-poker {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
