<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']"><span class="logo-simple">Simple</span><span class="logo-planning-poker">Planning Poker</span></a>
      <a class="nav-link justify-content-end" href="https://github.com/Tachionstrahl/SimplePlanningPoker" target="_blank"><i class="bi-github"></i></a>
           
    </div>
  </nav>
</header>

